#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

main {
  margin: 3.2rem auto;
  width: 90%;
}

.contentPlusAdd {
  position: absolute;
  bottom: 100px;
  right: 100px;

  background-color: #04d361;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addPost {
  border: none;
  outline: none;

  color: white;
  background: none;
  margin-top: 2px;
  cursor: pointer;
}

@media (min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  main {
    padding: 3.2rem 0px;
    max-width: 740px;
    margin: 0 auto;
  }
}
